/* INICIO FONTES */
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Glacial';
    src: url('../assets/fonts/glacial-indifference/GlacialIndifference-Regular.otf') format('truetype');
}

/* FIM FONTES */

/* NAVBAR */
.navbar {
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: 'Glacial';
}

.navbar-nav .nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titulo-nav .nav-link {
    color: #ff00f4 !important;
}

.titulo-nav:first-child .nav-link {
    background: linear-gradient(90deg, #630061, #ff00f4, #ff00f4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}


.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titulo-nav .nav-link:hover {
    color: #72006c !important;
}

.content-canudinho {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

#img-canudinho {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

#img-canudinho-home {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    border: 3px solid #ff00f4;
    object-fit: cover;
    cursor: pointer;
}

#linha {
    width: 101.45%;
    height: 2px;
    background: linear-gradient(to right,

            #000 0%,
            #330033 20%,
            #8d008d 60%,
            #ff00f4 100%);
    box-shadow: 0 0 10px rgba(255, 0, 244, .6);
}

@media (max-width: 991px) {

    .offcanvas {
        background: #000;
        width: 280px !important;
    }

    .offcanvas-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
    }

    .navbar-nav {
        flex-direction: column !important;
        width: 100%;
        gap: 15px;
    }

    .navbar-nav .nav-item {
        width: 100%;
        text-align: center;
    }

    .navbar-nav .nav-link {

        display: block;

        width: 100%;

        padding: 12px;

        border-radius: 10px;

        background: rgba(255, 0, 244, 0.08);

        border: 1px solid rgba(255, 0, 244, 0.2);

        color: #ff00f4 !important;

        font-size: 18px;

        transition: .3s;
    }

    .navbar-nav .nav-link:hover {

        background: rgba(255, 0, 244, 0.15);

        transform: translateX(5px);
    }

    .content-canudinho{

        width: 100%;

        display: flex;

        justify-content: center;

        align-items: center;

        margin-top: 25px;
    }

    #img-canudinho-home{

        width: 65px;
        height: 65px;
        
        margin: 0 auto;

        display: block;

        border-radius: 50%;

        border: 3px solid #ff00f4;

        box-shadow: 0 0 15px rgba(255,0,244,.5);
    }
     #content-nav{
        width: 100%;
        margin-left: 0 !important;
    }
}
/* FIM NAVBAR */


a {
    text-decoration: none;
    color: inherit; /* Pega a cor do texto do elemento pai */
}
footer {
    background-color: rgb(0, 0, 0);
    color: #ff00f4;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    height: 50px;
}
h6 {
    font-size: 18px;
    font-family: 'Poppins';
    justify-self: right;
}
body {
    margin: 0;
}
main {
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    background:
        radial-gradient(circle at 90%,
            rgba(255, 0, 244, .9),
            rgba(255, 0, 244, .4) 25%,
            transparent 60%),

        radial-gradient(circle at bottom right,
            black 0%,
            transparent 20%),

        linear-gradient(155deg,
            #000000,
            #5b0059,
            #b100b1,
            #000000);
}
/* PAGINA HOME - COMECO */
#home {
    position: relative;
}
#home::after {
    content: "";
    z-index: 1;
    position: absolute;
    margin-left: 5%;
    bottom: 0%;
    width: 100vh;
    height: 30vh;
    background: url("../assets/img/icons/flores.png");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
    filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.60));
}
.grid-home {
    position: relative;
    z-index: 3;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto auto;
    gap: 20vh;
    padding: 2vh 12vh;
}
.titulo-home {
    position: relative;
    z-index: 4;
    font-family: 'Glacial';
    color: black;
    text-align: right;
    padding-top: 12vh;
    padding-right: 24vh;
}
@media (max-width: 768px) {
    .titulo-home {
        font-family: 'Glacial';
        text-align: center;
        padding-right: 0;
        color: #ff00f4;
    }
}
.card {
    background: rgba(0, 0, 0, .75);
    border-radius: 10px;
    padding: 13px;
    color: #ff00f4;
}
.autor {
    grid-row: 1 / 3;
    width: 100%;
    height: 85%;
}
.texto-autor {
    justify-self: center;
    text-align: center;
    font-size: 24.5px;
    font-family: 'Poppins';
    font-style: italic;
    margin-top: -14px;
    margin-bottom: 18px;
}
.titulo-pro {
    justify-self: center;
    text-align: center;
    font-size: 24.5px;
    font-family: 'Poppins';
    margin-top: -5px;
    margin-bottom: 6px;
}
.texto-pro {
    margin-right: 10px;
    margin-left: 10px;
    font-style: italic;
}

.href:hover {
    color: #72006c;
    cursor: pointer;
}
#img-autor {
    width: 90%;
    height: 65%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    border-radius: 10px;
}
.descricao {
    font-size: 18px;
    font-family: 'Poppins';
    font-style: italic;
    min-height: 18vh;
}

#texto-segredos {
    font-size: 12px;
    font-weight: bold;
    font-family: 'Poppins';
    color: #ff00f4;
}

/* ==========================
   CARTA DE AMOR
========================== */

.envelop {
    width: 220px;
    max-width: 380px;
    height: 150px;

    position: relative;
    margin: auto;
}

.envelop__front-paper,
.envelop__back-paper,
.envelop__content {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.envelop__front-paper {
    border-radius: 12px;
    border: 5px solid #967b5c;
    background-color: #ba9872;
    clip-path: polygon(100% 0%,
            50% 70%,
            0% 0%,
            0% 100%,
            100% 100%);
    z-index: 300;
}
.envelop__back-paper {
    border-radius: 12px;
    background-color: #967b5c;
    clip-path: polygon(0% 0%,
            100% 0%,
            90% 100%,
            0% 90%);
    z-index: 100;
}
.envelop__up-paper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #967b5c;
    clip-path: polygon(0% 0%,
            100% 0%,
            50% 81%);
    z-index: 400;
}
.envelop__sticker {
    width: 100%;
    height: 20%;
    position: absolute;
    top: 30%;
    left: 0%;
    z-index: 400;

    background-image: url("https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png");
    background-repeat: repeat-x;
    background-position: center;
    background-size: 2vh;
    background-color: #f9f9f9;

    border: 4px solid #e2e2e2;
}
.envelop__false-sticker {
    width: 10%;
    height: 20%;
    position: absolute;
    top: 30%;
    left: 90%;
    z-index: 300;

    background-image: url("https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2vh;
    background-color: #f9f9f9;

    border: 4px solid #e2e2e2;
}
.envelop__content {
    z-index: 200;
}
.love-notes {
    width: 100%;
    height: 100%;
    padding-left: 0.4vh;
}
.note {
    width: 95%;
    height: 30%;
    background: #f9f9f9;
    position: absolute;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.note:nth-child(1) {
    bottom: 60%;
}
.note:nth-child(2) {
    bottom: 40%;
}
.note:nth-child(3) {
    bottom: 20%;
}
.note:hover {
    height: 45%;
    cursor: pointer;
}
.note__text {
    padding: 15px;
}
.note__text p {
    font-family: 'Poppins';
    font-size: 11px;
    color: #222;
    left: 50%;
    text-align: center;
}

@media (max-width: 768px) {
    .note__text p {
        font-size: 9px;
        font-weight: bold;
        font-family: 'Poppins';
        color:#000000;
        text-align: center;
    }
}
.cursor {
    cursor: pointer;
}
.scissors {
    cursor: pointer;
}
.carta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 180px;
    padding-bottom: 160px;
}
/* CARTA P CELULAR */
@media (max-width: 768px) {
    .grid-home {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .autor {
        grid-row: auto;
        width: 100%;
        height: auto;
        margin-top: 0;
    }
    .descricao {
        height: auto;
    }
    .envelop {
        width: 180px;
        height: 120px;
        max-width: 300px;
    }
}
#espacamento-descricao {
    margin-top: 10vh;
}
/* 
=-=-=-=-=-=-=-=-=-=-=-=-=-=
    FIM CARTA DE AMOR
=-=-=-=-=-=-=-=-=-=-=-=-=-=  
*/
/* 
=-=-=-=-=-=-=-=-=-=-=-=-=-=
   FIM PAGINA HOME
=-=-=-=-=-=-=-=-=-=-=-=-=-= 
*/


/* 
==========================
  COMECO PAGINA TIMELINE
========================== 
*/
#cronologh{
    width: 100%;
    align-items: center;
    padding-top: 20vh;
    color: #ff00f4;
    display: flex;
    font-size: 35px;
    font-family: 'Glacial';
    align-items: center;
    justify-content: center;
}

#cronologh p {
    position: relative;
    display: inline-block;
    margin: 0;
    background: linear-gradient(90deg,
            #8d008d 40%,
            #ff00f4 60%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#cronologh p::after {
    content: "";
    position: absolute;
    left: -15px;
    right: -15px;
    bottom: -5px;
    height: 2px;
    background: linear-gradient(to right,
            #220022 10%,
            #250025 5%,
            #330033 20%,
            #8d008d 60%,
            #ff00f4 100%);
    box-shadow: 0 0 5px #ff00f4;
}

@media (max-width: 768px) {
    #cronologh{
        font-family: 'Glacial';
        text-align: center;
        padding-right: 0;
        color: #ff00f4;
    }
}

#box-sizing{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.timeline-main {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}
.timeline-container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    z-index: 1;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
.timeline-container-final{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    z-index: 1;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.timeline-container:nth-child(1) {
    animation-delay: 0s;
}
.timeline-container:nth-child(2) {
    animation-delay: 1s;
}
.timeline-container:nth-child(3) {
    animation-delay: 2s;
}
.timeline-container:nth-child(4) {
    animation-delay: 3s;
}
.timeline-container:nth-child(5) {
    animation-delay: 4s;
}
.timeline-container:nth-child(6) {
    animation-delay: 5s;
}
.timeline-container:nth-child(7) {
    animation-delay: 6s;
}
.timeline-container:nth-child(8) {
    animation-delay: 7s;
}
.timeline-container:nth-child(9) {
    animation-delay: 8s;
}
.timeline-container:nth-child(10) {
    animation-delay: 9s;
}
.timeline-container:nth-child(11) {
    animation-delay: 10s;
}
.timeline-container:nth-child(12) {
    animation-delay: 11s;
}
.timeline-container:nth-child(13) {
    animation-delay: 12s;
}
.timeline-container-final:nth-child(14) {
    animation-delay: 13s;
}
.last-container{
    left: 25%
}
.left-container{
    left: 0;
}
.right-container{
    left: 50%;
}
.timeline-container img{
    position: absolute;
    width: 35px;
    border-radius: 50%;
    right: -17px;
    top: 32px;
    z-index: 10;
    background: #000000;
    border: 4px solid #000000;
}
.right-container img{
    left: -17px;
    background: #000000;
    border: 4px solid #000000;
}
.timeline-main::after{
    content: '';
    position: absolute;
    width: 4px;
    height: 93%;
    background-color: #000000;
    top: 0;
    left: 50%;
    margin-left: -2px;
    z-index: 0;
    animation: moveline 13s linear forwards;
}
@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 93%;
    }
}
.text-box{
    padding: 20px 30px;
    background: #000000;
    color: #ff00f4;
    position: relative;
    border-radius: 6px;
    font-size: 16px;
}
.text-box h2{
    font-weight: 600;
}
.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}
.left-container-arrow{
    height: 0;
    width: 0;
    position:absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #000000;
    right: -14px;
}
.right-container-arrow{
    height: 0;
    width: 0;
    position:absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #000000;
    left: -14px;
}

@media screen and (max-width: 600px) {
    .timeline-main {
        margin: 50px auto;
    }
    .timeline-main::after {
        left: 31px;
    }
    .timeline-container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .last-container{
        width: 108%;
        left:-21px;
        border-radius: 2px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0%;
    }

    .left-container img, .right-container img{
        left: 10px;
    }

    .left-container-arrow, .right-container-arrow{
        left: -15px;
        border-left: 0;
        border-right: 15px solid #000000;
        
    }
}
.photo-stack{
    position:absolute;
    top:50%;
    right:-280px; /* distância da caixa */
    transform:translateY(-50%);
    width:180px;
    height:140px;
}
.photo-stack img{
    position:absolute;
    width:180px;
    height:120px;
    object-fit:cover;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.4);
}
.right-container .photo-stack{
    left:-280px;
}
.photo-stack img:nth-child(1){
    z-index:3;
    transform:rotate(-6deg);
}
.photo-stack img:nth-child(2){
    z-index:2;
    left:20px;
    top:8px;
    transform:rotate(4deg);
}
@media (max-width: 768px){
    .photo-stack{
        display:none;
    }
}
.photo-stack img:nth-child(3){
    z-index:1;
    left:40px;
    top:16px;
    transform:rotate(10deg);
}
#imageModal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.9);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:99999;
}
#imageModal.active{
    display:flex;
}
#modalImage{
    max-width:90%;
    max-height:90vh;
    border-radius:12px;
    box-shadow:0 0 30px rgba(255,0,244,.5);
}


/* ============================
    COMEÇO Pagina thais
   ============================
*/
#thais{
    width: 100%;
    align-items: center;
    padding-top: 13vh;
    display: flex;
    font-size: 35px;
    font-family: 'Glacial';
    align-items: center;
    justify-content: center;
    text-shadow: 2px 0px 5px #120020;
    box-shadow: #000000;
}

#thais p {
    position: relative;
    display: inline-block;
    margin: 0;
    color:#000000;
}

#thais-clique {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 16px;
    padding-top: 10px;
}
@media (max-width: 768px){
    #thais-clique{
    color:#ff00f4;
    }
}
#thais p::after {
    content: "";
    position: absolute;
    left: -15px;
    right: -15px;
    bottom: -5px;
    height: 2px;
    background: #000000;
    box-shadow: 0 0 8px #000000;
}

@media (max-width: 768px) {
    #thais p{
    position: relative;
    display: inline-block;
    margin: 0;
    color:#ff00f4; 
    }
    #thais p::after {
    background: #ff00f4;
    box-shadow: 0 0 12px #ff00f4;
    }
}

#descricao-thais{
    width: 90%;
    margin-top: 40px;
    margin-left: 40px;
    background-color: #000000;
    border-radius: 12px;
    opacity: 80%;
}
#descricao-thais p{
    font-family: 'Popins';
    font-size: 20px;
    font-style: italic;
    padding-left: 2%;
    color:#ff00f4;
}

.imagens-flex{
    display: flex;
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}
.imagens-flex img{
    width:280px;
    height:380px;

    object-fit:cover;

    border-radius:4px;

    cursor:pointer;

    transition:.3s;
}

#textModal{
    position:fixed;
    inset:0;

    background:rgba(0,0,0,.85);

    display:none;

    justify-content:center;
    align-items:center;

    z-index:99999;
}

#textModal.active{
    display:flex;
}

.text-modal-content{

    width:min(90%,900px);

    max-height:80vh;

    overflow-y:auto;

    background:linear-gradient(
        155deg,
        #000000,
        #5b0059,
        #b100b1
    );

    border-radius:12px;

    padding:30px;
    opacity: 95%;
}

#modalTitle{
    position: relative;
    display: inline-block;

    left: 50%;
    transform: translateX(-50%);

    margin-bottom: 30px;

    color: #ff00f4;
    font-family: 'Glacial';
}

#modalTitle::after{
    content: "";

    position: absolute;

    left: -15px;
    right: -15px;

    bottom: -6px;

    height: 2px;

    background: #ff00f4;

    box-shadow: 0 0 8px rgba(255, 0, 221, 0.5);
}

#modalText{

    background:black;

    color:#ff00f4;

    padding:20px;

    border-radius:8px;

    font-family:'Poppins';

    line-height:1.8;
}

#closeModal{

    margin-top:20px;

    padding:10px 20px;

    border:none;

    border-radius:6px;

    background:black;

    color:#ff00f4;

    cursor:pointer;
}

#closeModal:hover{
    opacity:.8;
}
/* 
   ============================
    FIM Pagina thaís
   ============================
*/
/* 
   ============================
   COMEÇO Página nós
   ============================
*/

#nos{
    width: 100%;
    align-items: center;
    padding-top: 13vh;
    display: flex;
    font-size: 35px;
    font-family: 'Glacial';
    align-items: center;
    justify-content: center;
    text-shadow: 2px 0px 5px #120020;
    box-shadow: #000000;
}

#nos p {
    position: relative;
    display: inline-block;
    margin: 0;
    color:#000
}

#nos p::after {
    content: "";
    position: absolute;
    left: -15px;
    right: -15px;
    bottom: -5px;
    height: 2px;
    background: #000000;
    box-shadow: 0 0 8px #000000;
}

@media (max-width: 768px) {
    #nos p{
    position: relative;
    display: inline-block;
    margin: 0;
    color:#ff00f4; 
    }
    #nos p::after {
    background: #ff00f4;
    box-shadow: 0 0 12px #ff00f4;
    }
}

#descricao-nos{
    width: 90%;
    margin-top: 40px;
    margin-left: 40px;
    background-color: #000000;
    border-radius: 12px;
    opacity: 80%;
}
#descricao-nos p{
    font-family: 'Popins';
    font-size: 20px;
    font-style: italic;
    padding-left: 2%;
    color:#ff00f4;
}

.carousel{
    width:100%;
    overflow:hidden;
    margin-top:50px;
}

.carousel-track{
    display:flex;
    width:max-content;

    animation: scroll 90s linear infinite;
    will-change: transform;
}

.carousel-track img{
    width:260px;
    height:350px;

    object-fit:cover;

    border-radius:8px;

    margin-right:10px;

    flex-shrink:0;
    transition: transform .3s ease;
    border-radius: 0.3s ease;
}
.carousel-track img:hover{
    transform: scale(1.05);
    border-radius: 8px;
}
.carousel-track img:active{
    transform: scale(1.05);
    border-radius: 8px;
}

@keyframes scroll{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(-100%);
    }
}
/* 
   ============================
   FIM Pagina Nos
   ============================
*/
/* 
  ------------------------------------------
*/
/* 
    =============================
    COMEÇO Pagina teste_amor
    =============================
 */
#amor{
    width: 100%;
    align-items: center;
    padding-top: 13vh;
    display: flex;
    font-size: 35px;
    font-family: 'Glacial';
    align-items: center;
    justify-content: center;
    text-shadow: 2px 0px 5px #120020;
    box-shadow: #000000;
}

#amor p {
    position: relative;
    display: flex;
    margin: 0;
    color:#000000;
}
#amor p::after {
    content: "";
    position: absolute;
    left: -15px;
    right: -15px;
    bottom: -5px;
    height: 2px;
    background: #000000;
    box-shadow: 0 0 8px #000000;
}

#descricao-amor{
    width: fit-content;
    max-width: 80%;

    margin: 40px auto 0 auto;

    background-color: #000000;
    border-radius: 6px;
    opacity: 80%;

    padding: 8px 20px;
}
#descricao-amor p{
    margin: 0;

    font-family: 'Poppins';
    font-size: 20px;
    font-style: italic;
    font-weight: bold;

    color:#ff00f4;

    text-align: center;
}

@media (max-width: 768px) {
    #amor p{
    position: relative;
    display: inline-block;
    margin: 0;
    color:#ff00f4; 
    }
    #amor p::after {
    background: #ff00f4;
    box-shadow: 0 0 12px #ff00f4;
    }
}

/* CALCULADORA */
#love-calculator{
    margin-top:40px;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;

    flex-wrap:nowrap;
}

.input-group-love{
    display:flex;
    flex-direction:column;
}

.input-group-love label{
    text-align:center;
    font-family:'Poppins';
    font-style: italic;
    color:#000;
    font-weight:bold;
    margin-bottom:10px;
}

.input-group-love input{
    width:260px;
    padding:10px;

    border:none;
    outline:none;

    background:#f7d8df;

    font-style:italic;
}

@media (max-width: 768px){

    #love-calculator{
        flex-wrap: nowrap;
        gap: 10px;
    }

    .input-group-love input{
        width: 140px;
        font-size: 14px;
    }

    #plus{
        padding-top: 25px;
        font-size: 30px;
        color:#000000;
    }
}

#plus{
    align-content: center;
    font-size:40px;
    padding-top: 25px;
    font-weight:bold;
    color:#000000;
}

.btn-container{
    display:flex;
    justify-content:center;
    margin-top:30px;
}

#btn-amor{
    display:flex;
    justify-content:center;
    margin-top:30px;
    border:none;
    padding:10px 40px;

    background:black;
    color:#ff00f4;

    border-radius:8px;

    cursor:pointer;

    transition:.3s;
}

#btn-amor:hover{
    transform:scale(1.05);
}

#resultado-amor{
    margin-top:40px;

    display:flex;
    flex-direction:column;
    align-items:center;

    color:#000000;

    font-family:'Poppins';
}

#resultado-amor h2{
    font-size:70px;
    margin:0;

    text-shadow:0 0 15px #000000;
}

#resultado-amor p{
    margin-top:10px;
    font-size:22px;
}


/* Animação do coração */

.heart-container{
    position:relative;

    width:220px;
    height:220px;

    margin:40px auto;
}

.heart-bg{
    position:absolute;
    inset:0;

    font-size:220px;
    line-height:220px;

    color:#2c002a;

    text-align:center;
}

#heart-fill{
    position:absolute;
    bottom:0;
    left:0;
    right:0;

    overflow:hidden;

    height:0%;

    font-size:220px;
    line-height:220px;

    text-align:center;

    color:#ff00f4;

    transition:height .1s linear;
}

#percentual{
    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%, -50%);

    font-size:42px;
    font-weight:bold;

    color:white;

    text-shadow:0 0 15px #ff00f4;
}

#mensagem-amor{
    text-align:center;
    color:#ff00f4;
    font-size:22px;
    margin-top:20px;
}
.coracao-chuva {
    position: fixed;
    z-index: 9999;
    pointer-events: none;
    user-select: none;

    text-shadow:
        0 0 8px #ff00f4,
        0 0 15px #ff00f4;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.12);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse .8s ease 3;
}
/* ============================
    COMEÇO Tela-mensagem
    ============================ 
*/

#background-tela{
    min-height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}
@media (max-width: 768px) {
    #background-tela{
        padding: 20px;
    }
}
#saramago-container{
    width: 100%;
    max-width: 700px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 768px) {
    #saramago-container{
        width: 80%;
    }
}
#saramago-texto{
    color: #ff00ff;
    text-align: center;
    font-size: 22px;
    line-height: 1.8;
}

@media (max-width: 768px) {
    #saramago-texto{
        font-size: 1.2rem;
    }
}

#saramago-autor{
    color: #ff00ff;
    text-align: right;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    #saramago-autor{
        font-size: 12px;
        font-weight: bold;
    }
}

#page-transition{

    transform: scale(1);
    opacity: 1;

    transition:
        transform 1.2s ease-in,
        opacity 1.2s ease-in;

    transform-origin: center center;

}

#page-transition.enter-next-page{
    transform: scale(3);
    opacity: 0;
}
/* ============================
    FIM Tela-mensagem
    ============================ 
*/

/* --------------------------------------------- */

/* ============================
    COMEÇO Tela-autor
    ============================ 
*/
#autor-projeto{
    color: #ff00ff;
    text-align: center;
    font-size: 22px;
    line-height: 1.8;
}

#autor-container{
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* ============================
    FIM Tela-autor
    ============================ 
*/