
/* NAVBAR */

.content-canudinho {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; 
}

#img-canudinho {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
    cursor: pointer;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}